<div class="welcome_box">
  <div class="welcome_details">
    <img src="/images/snapask.png">
    <p class="assignment_title">技術實作作業</p>
    <div class="assignment">
      <p>線上課程平台:</p>
      <img src="/images/snaplearn_logo.png" alt="">
    </div>

    <p>王晨驊 ｜ Roy Wang</p>
    <div class="welcome_links_box">
      <a href="https://github.com/roywangroytw">Github Profile</a>
      <a href="https://github.com/roywangroytw/snaplearnhw">Github Project Link</a>
    </div>
  </div>
</div>