// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pagetitle_div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.manage_table {
  display: flex;
  width: 90%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid grey;

  p:nth-child(1) {
    width: 5%;
  }
  p:nth-child(2) {
    width: 45%;
  }
  p:nth-child(3) {
    width: 15%;
    text-align: center;
  }
  p:nth-child(4) {
    width: 15%;
    text-align: center;
  }
  p:nth-child(5) {
    width: 20%;
    text-align: center;
  }

}

.manage_table_action {
  div {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

// Mycourses page =============

.mycourses_title {
  text-align: center;
}

.mycourses_result {

  .content_box {
    background-color: rgb(233, 233, 233);
    padding: 20px;

    .mycourses_item_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      padding: 0px 20px;
    }
    .mycourses_item_details {

      p {
        border-bottom: 1px solid grey;
      }

    }

    .mycourses_item_link {

      display: flex;
      justify-content: center;
      background-color: white;

      a {
        color: #5271FF;
        display:inline-block;
        width: 300px;
        height: 40px;
        text-align: center;
        line-height: 40px;;
      }
    }


  }

}

.filter_box {
  width: 76.5%;
  height: 100px;
  max-width: 1200px;
  margin: auto;
  background-color: #5271FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filters {
  width: 90%;
  margin: auto;

  form {
    width: 100%;

    .filter_selection_category {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 15px;

      label {
        margin-left: -15px;
      }
    }

    .filter_selection_status {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        align-items: center;

        label {
          margin-right: 10px;
        }
      }

      input[type="submit"] {
        border: none;
        display: inline-block;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }

  }
}