// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

#bodycontent {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

