<h1>購買的課程 | Purchased Courses</h1>
<section data-controller="mycourses">

  <div class="filters"></div>
  <div class="mycourses_result container" data-mycourses-target="coursediv" data-key="<%= current_user.api_access_token.key%>">
    <div class="row mycourses_row"></div>
  </div>

</section>